{% extends 'GalleryAppBundle:Gallery:layout.html.twig' %}

{% block content_content %}
    <div class="my-gallery" itemscope itemtype="http://schema.org/ImageGallery">

        {% for album in albums %}
            {% for photo in album.photos %}
                <figure itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
                    <a href="{{ photo.uploadPath }}" itemprop="contentUrl" data-size="600x400">
                        <img src="{{ photo.uploadPath|imagine_filter('gallery_preview') }}" itemprop="thumbnail" alt="Image description" />
                    </a>
                    <figcaption itemprop="caption description">Image caption</figcaption>
                </figure>
            {% endfor %}
        {% endfor %}

    </div>

    <script>
        $(function() {
            initPhotoSwipe('.my-gallery')
        });
    </script>
{% endblock content_content %}